### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# User-uploaded media
media/

# Collected staticfiles
*/staticfiles/

.cache/
**/certs

# Editor directories and files
.idea

# Venv
venv

.env
*.sqlite3
data/
